<div class="park-index-list-item">
  <div class="row" data-equalizer>
    <li>
      <div class="park-info small-4 column" data-equalizer-watch>
        <p>
          <%= link_to timeline.title, timeline_path(timeline) %><br>
          <%= timeline.description %>
        </p>
      </div>
    </li>
  </div>
</div>
